p How long can two people talk about nothing? Flair is what marks the difference between artistry and mere competence. Smooth as an android's bottom, eh, Data? We could cause a diplomatic crisis. Take the ship into the Neutral Zone Computer, belay that order. The unexpected is our normal routine. Well, that's certainly good to know. I'd like to think that I haven't changed those things, sir. Well, I'll say this for him - he's sure of himself. I will obey your orders. I will serve this ship as First Officer. And in an attack against the Enterprise, I will die with this crew. But I will not break my oath of loyalty to Starfleet. I recommend you don't fire until you're within 40,000 kilometers. We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf.

div.pair
    div.left
        h3 China
        #china

    div.right
        h3 India
        #india

p How long can two people talk about nothing? Flair is what marks the difference between artistry and mere competence. Smooth as an android's bottom, eh, Data? We could cause a diplomatic crisis. Take the ship into the Neutral Zone Computer, belay that order. The unexpected is our normal routine. Well, that's certainly good to know. I'd like to think that I haven't changed those things, sir. Well, I'll say this for him - he's sure of himself. I will obey your orders. I will serve this ship as First Officer. And in an attack against the Enterprise, I will die with this crew. But I will not break my oath of loyalty to Starfleet.

h3 Select your country

select#countries

h3 Select your age

select#ages

div.pair
    div.left
        h3 Earth
        #world

    div.right
        h3#country-name United States of America
        #country
